.new-room-button {
    border: 1px dotted orange;
    position: center;
}

.room-nav {
    background-color: grey;
    position: fixed;
    width: 50%;
}

.chat-section {
   text-align: right;
}
